:root {
    --bg: #18191b;
    --fg: #1aff00;
    --backdrop: rgba(0, 0, 0, 0.3);
    --error: #ff0000;
    --grad1: #3a0f00;
    --grad2: #00303a;
}
@font-face {
    font-family: JetBrains;
    src: url(./jetbrains.ttf);
  }
*{
    color: var(--fg);
    font-family: 'JetBrains';
}
::-webkit-scrollbar {
    display: none;
}
body{
    background: rgb(46,0,14);
    background: linear-gradient(45deg, rgba(46,0,14,1) 0%, rgba(0,61,124,1) 50%, rgba(77,0,101,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    width: 100vw;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Global Navbar */
.nav{
    display: inline-flex;
    flex-direction: row;
    width: 95%;
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: var(--backdrop);
    border-radius: 15px;
}
.nav >a> img{
    width: 185px;
    padding: 0px 0px 0px 10px;
}
.btns{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 25px;
}
.btns > a{
    text-decoration: none;
    color: var(--fg);
    padding: 0px;
    border: solid var(--fg) 3px;
    font-size: 25px;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 10px;
}
.btns > a:hover{
    color: var(--bg);
    background-color: var(--fg);
}
/* Containers */
.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 95%;
    margin: 10px 0px;
    background-color: var(--backdrop);
    border-radius: 15px;
    padding: 0px;
}
/* Sub Containers */
.heading{
    font-size: 35px !important;
    font-weight: 600;
    margin: 0px;
    border: 3px solid var(--fg);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.content{
    font-size: 25px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px 0px;
}
.side{
    width: 45vw;
}
/* Input Fields */
input[type="submit"]{
    background-color: transparent;
    color: var(--fg);
    border: solid 3px var(--fg);
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    margin: 10px 0px 10px 10px;
}
input[type="submit"]:hover{
    background-color: var(--fg);
    color: var(--bg);
}
input[type="password"],input[type="email"],input[type="text"]{
    background-color: transparent;
    color: var(--fg);
    border: solid 3px var(--fg);
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    width: 80%;
}
input[type="password"]:focus,input[type="email"]:focus,input[type="text"]:focus{
    outline: none !important;
}
/* All Fontawesome icons */
i{
    color: var(--fg);
}
a:has(> i):hover > i{
    color: var(--bg);
}
/* All Error Messages */
.error{
    color: var(--error);
    font-size: 25px;
    border-color: var(--error);
}
/* Global Tables */
table{
    width: 100%;
}
th {
    color:var(--fg);
    background:var(--bg);
    border-bottom:2px solid var(--fg);
    padding:25px;
    font-size: 25px;
}
th:first-child {
    border-top-left-radius:15px;
}
   
th:last-child {
    border-top-right-radius:15px;
}
tr {
    color:var(--fg);
}
tr:last-child td:first-child {
    border-bottom-left-radius:15px;
}
tr:last-child td:last-child {
    border-bottom-right-radius:15px;
}
td {
    background:var(--bg);
    padding:25px;
}
td:last-child {
    border-right: 0px;
}
/* Responsive Navbar */
.nav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .nav .btns *:not(:last-child) {
        display: none;
    }
    .nav a.icon {
        display: block;
    }
    .row{
        flex-direction: column;
    }
    .extras{
        flex-direction: column !important;
    }
    input[type="password"],input[type="email"],input[type="text"]{
        width: 90%;
        margin: 10px 0px;
    }
    .side{
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .nav.responsive {
        flex-direction: column;
        align-items:stretch;  
    }
    .nav.responsive .btns {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav.responsive .btns *{
        display: block;
    }
    .nav.responsive .btns a{
        margin: 10px 0px;
    }
}